$background-color: hsl(228, 33%, 97%);
$element-color: white;

$text-color: hsl(211, 10%, 45%);
$bold-text-color: hsl(212, 24%, 26%);

$highlight-color: hsl(238, 40%, 52%);
$muted-highlight-color: hsl(239, 57%, 85%);
$warning-color: hsl(358, 79%, 66%);

$light-gray: hsl(223, 19%, 93%);