.comment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .comment__children-container {
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-top: 15px;

    @include respond(medium) {
      grid-template-columns: 20px 1fr;
    }

    .comment__children-line {
      width: 3px;
      background-color: $light-gray;
      margin: 10px auto;
      border-radius: 10px;

      @include respond(medium) {
        margin: 0 0;
      }
    }
  }
}

.comment {
  display: grid;
  grid-template-columns: 40px 1fr 1fr;
  grid-template-rows: 40px 1fr;
  gap: 10px 20px;

  @include respond(medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 10px;
  }
  
  .comment__vote {
    grid-column: 1;
    grid-row: 1 / 3;

    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    margin-bottom: auto;

    @include respond(medium) {
      grid-column: 1;
      grid-row: 3;

      flex-direction: row;
      max-width: 150px;
    }

    padding: 6px;
    border-radius: 10px;

    .comment__vote-up, .comment__vote-down {
      border: none;
      background-color: transparent;
      padding: 5px;
      font-weight: bolder;
      cursor: pointer;
      color: $muted-highlight-color;
      border-radius: 10px;
      width: 100%;
      font-size: 16px;
      transition: background-color 0.05s linear,
                  color 0.05s linear;
                  


      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: $highlight-color;
      }
    }

    .comment__vote-count {
      color: $highlight-color;
      background-color: $background-color;
      border-radius: inherit;
      padding: 4px 6px;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .comment__info {
    grid-column: 2;
    grid-row: 1;

    @include respond(medium) {
      grid-column: 1 / 3;
      grid-row: 1;
    }

    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    .comment__info-pfp {
      border-radius: 1000px;
      aspect-ratio: 1;
      object-fit: cover;
      height: 100%;
    }

    .comment__info-name {
      font-weight: bold;
      color: $bold-text-color;
    }

    .comment__info-badge {
      border-radius: 4px;
      background-color: $highlight-color;
      color: white;
      padding: 2px 6px;
      user-select: none;
    }

    .comment__info-date {
      color: $text-color;
    }
  }

  .comment__actions {
    grid-column: 3;
    grid-row: 1;
    
    @include respond(medium) {
      grid-column: 2;
      grid-row: 3;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
  }

  .comment__content {
    grid-column: 2 / 4;
    grid-row: 2;

    @include respond(medium) {
      grid-column: 1 / 3;
      grid-row: 2;
    }

    color: $text-color;
    font-size: 16px;

    .comment__ping {
      color: $highlight-color;
      font-weight: bold;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }



}

