.comment-form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  gap: 20px;
  align-items: flex-start;

  @include respond(medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40px;
    gap: 10px;

    & > textarea {
      grid-column: 1 / 3;
      grid-row: 1;
    }

    & > button {
      margin-left: auto;
    }
  }
}

.comment__edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & > button {
    margin-left: auto;
  }
}

textarea {
  border: 1px solid $highlight-color;
  border-radius: 6px;
  padding: 10px 16px;
  resize: none;

  color: $text-color;
  font-size: 16px;
  
  width: 100%;
  height: 100%;
}