.comment-form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  gap: 20px;
  align-items: flex-start;

  @include respond(medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40px;
    gap: 10px;

    & > textarea {
      grid-column: 1 / 3;
      grid-row: 1;
    }

    & > button {
      margin-left: auto;
    }
  }
}

.comment__edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & > button {
    margin-left: auto;
  }
}

textarea {
  border: 1px solid $highlight-color;
  border-radius: 6px;
  padding: 10px 16px;
  resize: none;

  color: $text-color;
  font-size: 16px;
  
  width: 100%;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  & > div {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    
    label {
      display: block;
      color: $bold-text-color;
      margin-bottom: 5px;
    }

    input {
      height: 40px;
      border: 1px solid $muted-highlight-color;
      border-radius: 12px;
      padding: 4px 10px;

      width: 100%;
    }

    button {
      background: #ff7e5f;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }

  .login-form__sign-in-toggle {
    width: 100%;
    height: 40px;

    background-color: $background-color;
    padding: 4px;
    border-radius: 12px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;

    & > button {
      border: none;
      background-color: transparent;
      padding: 0 10px;
      border-radius: 10px;
      font-size: 16px;

      flex-grow: 1;
      cursor: pointer;

      &:first-child {
        background-color: white;
      }

      &:not(:first-child) {
        color: $text-color;
      }
    }
  }
  
  .login-form__or-with {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
    border-radius: 10px;

    div {
      height: 4px;
      background-color: $background-color;
    }
  }

  .login-form__oauth {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
    button {
      border: none;
      background-color: $background-color;
      padding: 6px 10px;
      border-radius: 8px;
      gap: 5px;

      display: flex;
      flex-direction: row;
      align-items: center;

      cursor: not-allowed;
    }
  }

}