.modal {
  z-index: 10;

  .modal__container {
    z-index: 2;
    padding: 40px;

    // temporary just for this single .modal

    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    line-height: 22px;
    color: $text-color;


    h1 {
      color: $bold-text-color;
    }

    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
  }

  .modal__background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

  }
}

