header {
  background-color: rgba(255, 255, 255, 0.9);

  margin: 0 calc($global-margin - 40px);
  height: 60px;
  padding: 10px 20px;

  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  
  margin-bottom: 60px;

  position: sticky;
  top: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  backdrop-filter: blur(6px);
  width: 100%;
}