header {
  margin: 0 calc($global-margin - 40px);
  height: 60px;
  padding: 10px 20px;

  margin-bottom: 60px;

  position: sticky;
  top: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .header__user {
    display: flex;
    flex: row;
    align-items: center;
  }

  &:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    backdrop-filter: blur(6px);

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  width: 100%;
}